.blogs {
    padding: min(11vh, 11vw) min(10vh, 10vw);

    @media (max-width:37.5em) {
        padding: min(8vh, 8vw) min(5vh, 5vw);
    }

    &__inner {
        max-width: 1200px;
        margin: 0 auto;

        & h1 {
            font-size: 4rem;
            line-height: 4.6rem;
            color: #2F2F2F;
            font-weight: 600;
            font-family: "Gt-Whelshime-Light", sans-serif;
            padding-bottom: 3.2rem;
            border-bottom: 1px solid rgba(216, 216, 216, 0.4);
            margin-bottom: 2.4rem;
        }

        & .blog_card {
            width: 100%;
            background-color: transparent;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: .6rem .6rem;
            text-decoration: none;
            color: #787878;
            transition: all .2s;

            @media (max-width:34.375em) {
                flex-direction: column;
                align-items: flex-start;

                & img {
                    width: 100%;
                    height: 22rem;
                }

                &__info {
                    margin-left: 0;
                }
            }

            &:hover {
                background-color: #F5F5F5;

                & img {
                    transform: rotate(-2deg);
                }
            }

            & img {
                width: 18.8rem;
                display: block;
                margin: auto 0;
                height: 12.9rem;
                filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.09));
                border-radius: 6px 2px 2px 6px;
                // transform: rotate(-2deg);
                object-fit: cover;
                transition: all .2s;

                @media (max-width:34.375em) {
                    width: 100%;
                    height: 22rem;
                }
            }


            &__info {
                margin-left: 2.2rem;
                padding: 2.4rem 0;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                @media (max-width:34.375em) {
                    margin-left: 0;
                }

                & h2 {
                    font-weight: 500;
                    font-size: 2.8rem;
                    line-height: 3.2rem;
                    color: #2F2F2F;
                }

                & p {
                    font-size: 1.8rem;
                    font-family: "Gt-Whelshime-Light", sans-serif;
                    line-height: 2.1rem;
                }

                & span {
                    font-family: "Gt-Whelshime-Light", sans-serif;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }
            }
        }
    }
}