.blog {
    padding: 9.5rem 16.4rem;

    &__image {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3.2rem 0 2.4rem;
        border-bottom: 1px solid rgba(216, 216, 216, 0.4);
        border-top: 1px solid rgba(216, 216, 216, 0.4);

        & img {
            width: 100%;
            object-fit: contain;
            height: fit-content;
        }

        & span {
            display: block;
            margin: 0 auto;
            color: #787878;
            font-size: 1.6rem;
        }
    }

    &__info {
        padding-bottom: 3.2rem;

        &__heading {
            margin-bottom: 1.6rem;
            font-style: normal;
            font-weight: 500;
            font-size: 4rem;
            line-height: 46px;
            color: #2F2F2F;
        }

        &__subheading {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            color: #787878;
            font-family: "Gt-Whelshime-Light", sans-serif;
        }
    }

    &__paragraph {
        padding: 3.2rem 0 4.8rem;

        &__heading {
            font-size: 3.2rem;
            margin-bottom: 3.2rem;
            color: #2F2F2F;
            line-height: 3.7rem;
            display: inline-block;
            font-family: "Gt-Whelshime", sans-serif;
        }

        &__text {
            font-size: 2.4rem;
            color: #787878;
            line-height: 4.8rem;

            & br {
                height: 1px;
                width: 100%;
                border: 1px solid red;
            }

            & a {
                color: #4531FE;
                text-decoration: none;
            }

            & strong {
                font-weight: inherit;
                color: #2F2F2F;
            }

            & p {
                padding-top: 18px;
                // border-top: 1px solid rgba(216, 216, 216, 0.4);
            }
        }

        &__quote {
            padding: 2.4rem;
            font-size: 2.4rem;
            color: #787878;
            line-height: 4.8rem;
            border: 1px solid rgba(216, 216, 216, 0.4);
            border-radius: 8px;
            font-family: "Gt-Whelshime-Light", sans-serif;

            & p span {
                color: #2F2F2F;
            }
        }

        &__people {
            display: flex;
            gap: 2.4rem;

            & .person_info {
                width: 18rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                & span {
                    display: block;
                    color: #787878;
                    font-size: 1.4rem;
                    line-height: 14px;

                    &:nth-of-type(1) {
                        font-size: 1.6rem;
                        color: #2F2F2F;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }

                & img {
                    width: 100%;
                    // height: fit-content;
                    height: 18rem;
                    // width: fit-content;
                    object-fit: scale-down;
                    padding: 0;
                    margin-bottom: .9rem;
                }
            }
        }

    }
}